<a href="https://colab.research.google.com/github/Itz-Ayushi/Cognitive-Assignments/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#ques 1
l=[10, 20, 30, 40, 50, 60, 70, 80]
print("original list:",l)
l.append(200)
l.append(300)
print("after appending:",l)
l.remove(10)
l.remove(30)
print("after removing:",l)
sorted(l)
print("sorted list(ascending):",l)
sorted(l,reverse=True)
print("sorted list(descending):",l)

original list: [10, 20, 30, 40, 50, 60, 70, 80]
after appending: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
after removing: [20, 40, 50, 60, 70, 80, 200, 300]
sorted list(ascending): [20, 40, 50, 60, 70, 80, 200, 300]
sorted list(descending): [20, 40, 50, 60, 70, 80, 200, 300]

In [9]:
#ques 2
scores=(45,89.5,76,45.4,89,92,58,45)
m=max(scores)
print("highest score:",m)
print("index:",scores.index(m))
n=min(scores)
print("lowest score:",n)
print(scores.count(n)," times")
print("reversed list:",list(scores[::-1]))
print("is 76 present in scores? ")
if 76 in scores:
  print("yes at index", scores.index(76))
else:
  print("not present")

highest score: 92
index: 5
lowest score: 45
2  times
reversed list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
is 76 present in scores?
yes at index 2

In [3]:
#ques 3
import random
l=[]
for i in range(0,100):
  r=random.randint(100,900)
  l.append(r)
print(l)

def isprime(n):
    for i in range(2,n):
        if n%i==0:
          return False
    return True

c1=0
odd=[]
c2=0
even=[]
c3=0
prime=[]
for i in l:
  if i%2!=0:
    c1+=1
    odd.append(i)
  elif i%2==0:
    c2+=1
    even.append(i)
  if isprime(i)==True:
    c3+=1
    prime.append(i)

print("no. of odd numbers:",c1)
print(odd)
print("no. of even numbers:",c2)
print(even)
print("no. of prime numbers:",c3)
print(prime)

[725, 130, 654, 590, 885, 422, 678, 385, 718, 650, 885, 389, 539, 217, 657, 865, 775, 185, 641, 801, 890, 313, 321, 793, 628, 208, 224, 267, 179, 644, 857, 585, 435, 524, 621, 180, 490, 238, 504, 556, 755, 103, 403, 253, 523, 880, 775, 213, 683, 738, 606, 469, 852, 639, 346, 401, 271, 866, 827, 676, 329, 233, 760, 811, 441, 812, 233, 410, 757, 659, 839, 492, 113, 211, 757, 696, 247, 173, 832, 595, 880, 595, 506, 190, 411, 869, 331, 828, 206, 190, 520, 263, 496, 729, 149, 299, 676, 693, 660, 726]
no. of odd numbers: 58
[725, 885, 385, 885, 389, 539, 217, 657, 865, 775, 185, 641, 801, 313, 321, 793, 267, 179, 857, 585, 435, 621, 755, 103, 403, 253, 523, 775, 213, 683, 469, 639, 401, 271, 827, 329, 233, 811, 441, 233, 757, 659, 839, 113, 211, 757, 247, 173, 595, 595, 411, 869, 331, 263, 729, 149, 299, 693]
no. of even numbers: 42
[130, 654, 590, 422, 678, 718, 650, 890, 628, 208, 224, 644, 524, 180, 490, 238, 504, 556, 880, 738, 606, 852, 346, 866, 676, 760, 812, 410, 492, 696, 832, 880, 506, 190, 828, 206, 190, 520, 496, 676, 660, 726]
no. of prime numbers: 24
[389, 641, 313, 179, 857, 103, 523, 683, 401, 271, 827, 233, 811, 233, 757, 659, 839, 113, 211, 757, 173, 331, 263, 149]

In [4]:
  #ques 4
  A = {34, 56, 78, 90}
  B = {78, 45, 90, 23}

  print("union:",A.union(B))
  print("intersection:",A.intersection(B))
  print("symmetric_difference:",A.symmetric_difference(B))
  print("Is A subset of B? ",A.issubset(B))
  print("Is B subset of A? ",B.issubset(A))
  a = int(input("Enter number to remove from A:"))
  if a in A:
    A.remove(a)
    print(A)
  else:
    print("Number not found")

union: {34, 45, 78, 23, 56, 90}
intersection: {90, 78}
symmetric_difference: {34, 45, 23, 56}
Is A subset of B?  False
Is B subset of A?  False
Enter number to remove from A:34
{56, 90, 78}

In [7]:
#ques 5
d={"name":"Kelly","age":25,"salary":8000,"city":"New york"}
d.pop("city")
d["location"]="New york"
print(d)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}